<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
			PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 
	 <settings>
	 	<setting name="cacheEnabled" value="false" />
	 	<setting name="useGeneratedKeys" value="true" />
	 	<setting name="defaultExecutorType" value="REUSE" />
	 </settings>

	 <typeAliases>
	 	<typeAlias alias="MemberVO" type="com.yummymap.mmy.vo.MemberVO" />
	 	<typeAlias alias="tVO" type="com.yummymap.mmy.vo.txt.TxtVO" />
	 	<typeAlias alias="textVo" type="com.yummymap.mmy.vo.TextVO" />
	 	<typeAlias alias="adminVo" type="com.yummymap.mmy.vo.admin.AdminVO" />
		<typeAlias alias="aBoardVo" type="com.yummymap.mmy.vo.admin.AdminBoardVO" />
		<typeAlias alias="chartCntVo" type="com.yummymap.mmy.vo.admin.ChartCntVO" />
		<typeAlias  alias="resCntVo" type="com.yummymap.mmy.vo.admin.ResCntVO" />
		<typeAlias alias="ratingUpsoVo" type="com.yummymap.mmy.vo.RatingUpsoVO" />
	 </typeAliases>
	  <!--  -->
	  <mappers>
	  	<mapper resource="com/yummymap/mmy/sql/MemberSQL.xml" />
	  	<mapper resource="com/yummymap/mmy/sql/TxtSQL.xml" />
	  	<mapper resource="com/yummymap/mmy/sql/chartSQL.xml" />
	  	<mapper resource="com/yummymap/mmy/sql/adminSQL.xml" />
	  	<mapper resource="com/yummymap/mmy/sql/textSQL.xml" />
	  </mappers>
	 
</configuration>