@charset "UTF-8";

body,input,textarea,select,html,a,p,div {
    font-family: '나눔고딕', NanumGothic, -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, '맑은 고딕', Malgun Gothic, '돋움', dotum, sans-serif;
}
a, a:hover, a:link, a:visited{
    text-decoration: none !important;
}
img{
    width: 100%;
    height: 100%;
}
.dnone{
    display: none;
}

/*itemBody*/
.itemBody{
	padding-top: 100px;
    max-width: 900px !important;
    height: 100%;
}
.title{
	color: #F86624;
	font-size: 15pt;
	font-weight: 500;
	letter-spacing: 1px;
}
.sub-title{
	font-size: 13pt;
	font-weight: 500;
}
.filter-item{
	color:rgba(0,0,0,0.8);
	font-size: 12pt;
	cursor: pointer;
}
.filter-item:hover{
	font-weight: 500;
	border-bottom: 2px solid #F86624;
}
.filter-icon{
	color: rgba(0,0,0,0.6);
	padding-top: 9px;
}
.sortBox div{
	letter-spacing: 1px;
	font-size: 8pt;
	font-weight: 500;
	cursor: pointer;
}
.item{
    width: 400px;
    height: 350px;
    border: 1px solid rgba(0,0,0,0.1);
}

.imgBox{
    width: 398px;
    height: 250px;
    cursor: pointer;
}
.pickHeart {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.pickHeart i{
    font-size: 16pt;
    padding-top: 9px;
    padding-left: 7px;
}
.unPick{
    color: #F86624;
}
.pick{
    color: #F86624;
}
.item-info{
    color: rgba(0, 0, 0, 0.6);
    font-size: 20pt;
    font-weight: 400;
    width: 600px;
    letter-spacing: 1px;
}
.itemInfo-avg{
    color: #F86624;
}
.info-name{
	font-weight: 400;
	letter-spacing: 1px;
	height: 18px;
}
.info-addr{
	font-size:10pt;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.info-sub{
	font-size: 10pt;
}
.info-avg, .info-sum{
	color: #F86624;
}

.pager-no {
	color: rgba(0,0,0,0.5);
	width: 35px;
	text-align: center;
}
.pager-no:hover {
	color: #F86624;
	cursor: pointer;
}