@charset "UTF-8";

body,input,textarea,select,html,a,p,div {
    font-family: '나눔고딕', NanumGothic, -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, '맑은 고딕', Malgun Gothic, '돋움', dotum, sans-serif;
}
a, a:hover, a:link, a:visited{
    text-decoration: none !important;
}
.dnone{
    display: none;
}
.dhidden {
	visibility: hidden;
}
img{
	width: 100%;
	height: 100%;
}
.rgba4{
	color: rgba(0,0,0,0.4) !important;
}

/*itemBody*/
.itemBody{
    padding-top: 100px;
    max-width: 900px !important;
    height: 100%;
}
.upso-name{
	font-size: 20pt;
	font-weight: 500;
    letter-spacing: 3px;
}
.upso-avgBox{
	width: 810px;
}
.upso-avg{
	color: #F86624;
	font-size: 12pt;
	font-weight: 500;
    letter-spacing: 1px;
}
.upso-star{
    color: rgb(255, 187, 0);
}
.upso-count{
	color: #F86624;
	font-size: 10pt;
}
.pickHeart{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    padding-top: 8px;
    text-align: center;
}
.pick{
	color: #F86624;
	font-size: 16pt	
}
.unPick{
	color: #F86624;
	font-size: 16pt;
}
.upso-subinfo-box{
	width: 450px;
	height: 250px;
    letter-spacing: 1px;	
}

.upso-mapBox{
	width: 450px;
	height: 250px;	
}
.upso-subinfo-font{
	font-weight: 500;
	font-size: 11pt;
}
/*review*/
.reviewBox{
    margin-top: 100px;
}
.reviewBox-title{
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.starBox i{
    font-size: 12pt;
}

#star_grade i{ 
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.15) 
}
#star_grade i.on{ 
    color: rgb(255, 187, 0);
}

.writeBtn:hover{
    background-color: #F86624 !important;
    color: white !important;
}
.writeBtn{
    font-size: 10pt !important;
}
.reviewBtn{
    cursor: pointer;
    position: relative;
    top: -47px;
    left: 820px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}
.reviewBtn i{
    padding-top: 7px;
    padding-left: 6px;
    font-size: 17pt;
    color: rgb(15, 0, 224);
}

.reviewId{
    font-size: 11pt;
    font-weight: 500;
}
.reviewStarBox i {
    font-size: 11pt;
    color: rgb(255, 187, 0);
}
.reviewStarBox div{
    font-size: 9pt;
    color: rgba(0, 0, 0, 0.6);
}
.review-txt{
	letter-spacing: 1px;
}
.reviewInfoText{
	font-size: 10pt;
	color: rgba(0, 0, 0, 0.6);
	letter-spacing: 1px; 	
}
.review-img-btn{
	font-size: 10pt;
	text-align: center;
	padding-top: 4px;
	background-color: #F86624;
	color: white;
	font-weight: 500;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}
.review-img-btn:hover{
	background-color:white;
	color: #F86624;
}
.imgNameBox{
	font-size: 10pt;
	color: rgba(0,0,0,0.6);
}
.reviewImg{
	width: 100px;
	height: 100px;
}
.rbtn{
	width: 40px;
	height: 20px;
	padding: 0 !important;
}


.chart-star-box{
	height: 15px;
}

.upso-star2{
	font-size:8pt;
	color: rgb(255, 187, 0); 
}
.avg{
	padding-top: 10px;
	padding-right: 10px;
	font-size: 30pt;
	font-weight: 500;
}
.bar{
	margin-left: 8px;
	height: 8px;
	min-width: 10px !important;
	max-width: 250px !important;
	margin-top: 10px;
	background-color: rgba(0,0,0,0.1);
	font-size: 8pt;
	color: rgba(0,0,0,0.4);
}
