@charset "UTF-8";

body,input,textarea,select,html,a,p,div {
    font-family: '나눔고딕', NanumGothic, -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, '맑은 고딕', Malgun Gothic, '돋움', dotum, sans-serif;
}
a, a:hover, a:link, a:visited{
    text-decoration: none !important;
}
.dnone{
    display: none;
}
/* nav Hidden*/

.topNav{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100px;
    z-index :99999;
}

.topNavLogo{
    width: 20%;
}
.topNavLogo a{
    color: #F86624 !important;
    font-size: 15pt !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.topNavItem{
    width: 80%;
    margin: 0;
}
.topNavItem-icon i{
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 18pt;
}
.topNavItem li{
    padding-left: 20px;
}
ul{
    list-style: none;
}

/*search*/

.searchBox{
    width: 500px;
    height: 50px;
    border: 2px solid #F86624;
    border-radius: 30px;
    background-color: white;
}
.searchBox input{
    height: 42px;
    width: 350px;
    margin-top: 2px;
    border: 0;
}
.searchBox input:focus{
    outline: none;
}
.searchBox-font{
    color: rgba(0, 0, 0, 0.4);
    width: 50px;
    text-align: center;
    padding-top: 11px;
    border-radius: 30px;
}
.searchBox-text{
    color: white;
    width: 100px;
    font-size: 14pt;
    font-weight: 500;
    text-align: center;
    padding-top: 8px;
    background-color: #F86624;
    border-radius: 20px;
    cursor: pointer;    
}

/* myUpso Modal Page*/

.modal-body {
    overflow-y: scroll;
}
.myUpsoImgBox {
    width: 100px;
    height: 100px;
}
.myUpsoName{
    font-size: 12pt;
    font-weight: 500;
}
.myUpsoAddr{
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.5);
}
.myUpsoStar i {
    font-size: 11pt;
    color: rgb(255, 187, 0);
}
.myUpsoRCount i{
    font-size: 11pt;
    color: rgb(15, 0, 224);
}
.font-size-11 {
    font-size: 11pt;
}
.modal-body{
    height: 500px;
}
