#canvasContainer {
	position: relative;
	width: 300px;
}

#canvas {
	z-index: 1;
}

#prizePointer {
	position: absolute;
	left: 225px;
	top: 0px;
	z-index: 999;
}

body {
	border-color: #c8c8c8;
}

.bar{
	border-bottom: 3px solid #ff9061;
}

.mt100{
	margin-top: 100px;
}

.mt30{
	margin-top: 30px;
}

.mt80{
	margin-top: 80px;
}

.mt20{
	margin-top: 20px;
}
