/**
@author 유태희
@since 2020.05.23
 	이 CSS는 관리자 회원정보 관리 페이지에 사용할 CSS 입니다
*/
.bar{
	border-bottom: 3px solid rgb(255, 165, 69);
}

.bar-ri{
	border-right: 3px solid rgb(255, 165, 69);
}

.sub-box{
	height: 540px;
}

.tcolor{color: rgb(255, 128, 89) !important;}
.nav-body{width: 100%; height: 130px;}
.nav-item{background-color: rgb(255, 128, 89); color: white;}
.logo{ font-size: 25pt; font-weight: bold; margin-top: 20px;}
.nav-item-1{margin-left: 820px;}
.nav-item-size{font-size: 30pt;}
.main-body{position: absolute; top: 240px;}
.mt100{
	margin-top: 100px;
}

.mt30{
	margin-top: 30px;
}

.mt20{
	margin-top: 20px;
}

.sub{
	margin: 0px !important; height: 600px;
}

.hi40 {
	height: 40px;
}

a {
	color: black;
}

a:hover {
	border-bottom: none;
	text-decoration: none;
}

.pbtn {
	cursor: pointer;
}
.next{
	cursor: pointer;
}
.pre {
	cursor: pointer;
	
}
.pbtnck{
	z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6

}