/**
@author ������
@since 2020.05.23
 	�� CSS�� ������ ȸ������ ���� �������� ����� CSS �Դϴ�
*/

.bar{
	border-bottom: 3px solid rgb(255, 165, 69);
}

.bar-ri{
	border-right: 3px solid rgb(255, 165, 69);
}

.sub-box{
	height: 540px;
}


.mt100{
	margin-top: 100px;
}

.mt30{
	margin-top: 30px;
}

.mt20{
	margin-top: 20px;
}

.sub{
	margin: 0px !important; height: 100%;
}

.hi40 {
	height: 40px;
}

a {
	color: black;
}

a:hover {
	border-bottom: none;
	text-decoration: none;
}

.pbtn {
	cursor: pointer;
}
.next{
	cursor: pointer;
}
.pre {
	cursor: pointer;
	
}
.pbtnck{
	z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6

}